@model IEnumerable<GestionStages.Models.Stage>
@{
    Layout = "_LayoutAdmin";
}

<h2>Liste des Stages</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Entreprise</th>
            <th>Étudiant</th>
            <th>Encadrant</th>
            <th>Action</th>
        </tr>
    </thead>
   
</table>
