body {
    background-color: #f8f9fa;
    color: #333333;
    font-family: 'Segoe UI', sans-serif;
}

.text-gold {
    color: #D4AF37;
}

.sidebar {
    background-color: #1E1E2F;
}

.nav-link {
    padding: 10px;
    border-radius: 5px;
}

    .nav-link:hover {
        background-color: #D4AF37;
        color: black !important;
    }

.card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
}
